<a href="https://colab.research.google.com/github/NIU-502/--Computational-Thinking-and-Programming-Design-/blob/master/WEEK16%E7%89%9B%E4%BD%B3%E8%81%9EA108260001.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
answer = "a123"

while True:
    password = input("Enter your password?")
    if password == answer:
        print("ENTER THE PASSWORD")
        break
    else:
        print("Try Again")

Enter your password?a123
ENTER THE PASSWORD

In [6]:
answer = "b456"
while True:
    ID = input("enter your ID?")
    if ID == answer:
        print("enter the ID")
        break
answer = "c789"

while True:
    password = input("Enter your password?")
    if password == answer:
        print("ENTER THE PASSWORD")
        break
    else:
        print("Try Again")

enter your ID?b456
enter the ID
Enter your password?c789
ENTER THE PASSWORD

In [7]:
for i in range(2,5):
    print(i)

2
3
4

In [8]:
for i in range(5):
    print(i)

0
1
2
3
4

In [9]:
for i in range(2,10,3):
    print(i)

2
5
8

In [12]:
for i in range(3,15,3):
    print(i)

3
6
9
12

In [13]:
start = int(input("enter a number?"))
end = int(input("enter a number?"))
step =int(input("enter a number?"))
sum = 0
for i in range(start, end, step):
    sum = sum + i
    print("i is", i, "sum equals", sum)

enter a number?3
enter a number?13
enter a number?3
i is 3 sum equals 3
i is 6 sum equals 9
i is 9 sum equals 18
i is 12 sum equals 30