<a href="https://colab.research.google.com/github/NIU-502/--Computational-Thinking-and-Programming-Design-/blob/master/WEEK11%E7%89%9B%E4%BD%B3%E8%81%9EA108260001.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
座號 = int(input('請輸入座號?'))
組別 = (座號-1)//5+1
print('組別為', 組別)

請輸入座號?19
組別為 4

In [2]:
print(False)
print(True)

False
True

In [3]:
print(False == 0)
print(True == 1)

True
True

In [4]:
print(False + 3)
print(True + 3)

3
4

In [5]:
print(bool(1))
print(bool(0))
print(bool(()))

True
False
False

In [6]:
name = "Jolin"
question = "Are you Jolin?"
print(question + name)

Are you Jolin?Jolin

In [7]:
s1 ="123"
s2 ="456"
s3 = s1 + s2
print(s3)

123456

In [8]:
s = '0123456789'

print('s=', s, 's[:]=', s[:]) 
print('s=', s, 's[5:]=', s[5:]) 
print('s=', s, 's[-2:]=', s[-2:])
print('s=', s, 's[:5]=', s[:5]) 
print('s=', s, 's[:-2]=', s[:-2])

print('s=', s, 's[7:9]=', s[7:9])
print('s=', s, 's[-4:-1]=', s[-4:-1])
print('s=', s, 's[5:-2]=', s[5:-2])
print('s=', s, 's[2:10:2]=', s[2:10:2])
print('s=', s, 's[::-1]=', s[::-1])
print('s=', s, 's[-1::-1]=', s[-1::-1])

s= 0123456789 s[:]= 0123456789
s= 0123456789 s[5:]= 56789
s= 0123456789 s[-2:]= 89
s= 0123456789 s[:5]= 01234
s= 0123456789 s[:-2]= 01234567
s= 0123456789 s[7:9]= 78
s= 0123456789 s[-4:-1]= 678
s= 0123456789 s[5:-2]= 567
s= 0123456789 s[2:10:2]= 2468
s= 0123456789 s[::-1]= 9876543210
s= 0123456789 s[-1::-1]= 9876543210